In [1]:
import numpy as np 
import pandas as pd 
import glob

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/paq88/Fish_neural_network_classifier/refs/heads/main/H2O_based/Data/H2O_KEGG_paths_merged.csv')

In [ ]:
df = df.T
colnames = df.iloc[0,:]
df.columns = colnames

KEGG,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,ko00250,ko04062,ko00740,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
KEGG,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,ko00250,ko04062,ko00740,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
S8.127.H2O,7796.58,89529.66,160055.28,25823.92,110647.68,52317.48,7806.99,144411.33,12.0,35140.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S8.128.H2O,7358.46,91213.27,158115.18,26196.54,109971.2,50663.96,7552.93,138930.09,0.0,36512.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S8.126.H2O,6073.5,64366.77,108494.35,17731.16,80175.45,35559.13,5673.83,100291.1,0.0,24319.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S9.173.H2O,3717.56,34228.73,58283.03,10041.02,40347.45,23181.49,3702.19,60248.0,0.0,13488.39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S31.199.H2O,10545.02,126686.86,218371.56,33603.55,157080.38,74805.13,9869.33,199944.2,0.0,48779.67,...,0.0,10.0,0.0,0.0,0.0,10.0,10.0,10.0,0.0,0.0
S31.198.H2O,9665.0,105618.25,161252.0,27302.0,125769.25,64827.75,10559.25,172469.5,0.0,42289.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S32.168.H2O,15331.25,165634.77,263903.6,43110.91,225542.95,101324.13,15949.83,280997.6,0.0,69167.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S32.170.H2O,10540.9,117651.6,201917.23,37517.52,138788.61,65941.93,10242.73,183250.04,0.0,43352.23,...,0.0,75.0,0.0,0.0,0.0,75.0,75.0,75.0,0.0,0.0
S32.169.H2O,7770.66,93997.45,165505.66,25616.75,113686.27,56412.11,7327.25,146938.3,11.0,36365.43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df = df.drop(df.index[0])

In [18]:
df

KEGG,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,ko00250,ko04062,ko00740,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
S8.127.H2O,7796.58,89529.66,160055.28,25823.92,110647.68,52317.48,7806.99,144411.33,12.0,35140.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S8.128.H2O,7358.46,91213.27,158115.18,26196.54,109971.2,50663.96,7552.93,138930.09,0.0,36512.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S8.126.H2O,6073.5,64366.77,108494.35,17731.16,80175.45,35559.13,5673.83,100291.1,0.0,24319.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S9.173.H2O,3717.56,34228.73,58283.03,10041.02,40347.45,23181.49,3702.19,60248.0,0.0,13488.39,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S9.172.H2O,9672.35,111143.13,192784.75,32941.22,133548.94,64199.99,6561.47,192290.41,12.0,42569.69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S31.199.H2O,10545.02,126686.86,218371.56,33603.55,157080.38,74805.13,9869.33,199944.2,0.0,48779.67,...,0.0,10.0,0.0,0.0,0.0,10.0,10.0,10.0,0.0,0.0
S31.198.H2O,9665.0,105618.25,161252.0,27302.0,125769.25,64827.75,10559.25,172469.5,0.0,42289.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S32.168.H2O,15331.25,165634.77,263903.6,43110.91,225542.95,101324.13,15949.83,280997.6,0.0,69167.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S32.170.H2O,10540.9,117651.6,201917.23,37517.52,138788.61,65941.93,10242.73,183250.04,0.0,43352.23,...,0.0,75.0,0.0,0.0,0.0,75.0,75.0,75.0,0.0,0.0
S32.169.H2O,7770.66,93997.45,165505.66,25616.75,113686.27,56412.11,7327.25,146938.3,11.0,36365.43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df.insert(0,'pond',df.index)

In [23]:
df.reset_index(drop=True, inplace=True)

In [27]:
ID = df['pond'].str.split('.').apply(lambda x: x[1] if len(x) > 1 else None)
df.insert(1, 'ID', ID)

In [30]:
df['pond'] = df['pond'].str.split('.').apply(lambda x: x[0])

In [32]:
df.sort_values(by='ID', inplace=True)

In [35]:
df['pond'].isna().sum()

0

In [47]:
result_df = df.copy()

In [48]:
result_df.insert(0, 'timepoint', 9)

In [50]:

# adding timepoint
ponds = result_df['pond'].unique()

for pond in ponds:
    tmp_df = result_df[result_df['pond'] == pond].copy()  # Make an explicit copy
    tmp_df = tmp_df.sort_values(by='ID')  # Ensure sorting is assigned back
    tmp_df['timepoint'] = np.arange(1, (tmp_df.shape[0] + 1), 1)
    result_df.loc[result_df['pond'] == pond, 'timepoint'] = tmp_df['timepoint']

In [ ]:
df = result_df

In [54]:
df['pond'].value_counts()

pond
S8     3
S30    3
S25    3
S22    3
S15    3
S11    3
S27    3
S20    3
S17    3
S13    3
S9     3
S32    3
S28    3
S14    3
S21    3
S10    3
S26    3
S23    3
S19    3
S16    3
S12    3
S24    3
S31    3
S29    2
S18    2
Name: count, dtype: int64

In [58]:
df.reset_index(drop=True, inplace=True)

In [59]:
df[df['pond'] == 'S29']

KEGG,timepoint,pond,ID,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
11,1,S29,139,6679.99,65295.37,113596.69,19715.97,77881.74,38951.27,4971.48,...,0.0,0.0,0.0,0.0,3.33,0.0,0.0,0.0,0.0,0.0
12,2,S29,140,6027.67,58051.33,98132.31,16834.69,70012.32,35047.92,5745.51,...,0.0,0.0,0.0,20.0,4.0,0.0,0.0,0.0,0.0,0.0

In [60]:
df[df['pond'] == 'S18']

KEGG,timepoint,pond,ID,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
6,1,S18,133,4325.26,45389.25,79433.21,14583.68,52588.07,27815.74,3437.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2,S18,134,2905.6,28366.91,54303.43,9346.12,37458.39,20127.17,3179.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
df.iloc[5:13,:]

KEGG,timepoint,pond,ID,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,...,ko04722,ko00513,ko03040,ko01056,ko00909,ko00514,ko00533,ko00601,ko05414,ko04380
5,3,S14,131,19804.96,185243.43,317250.68,48990.51,244957.0,110671.41,19532.36,...,5.0,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2,S18,133,4325.26,45389.25,79433.21,14583.68,52588.07,27815.74,3437.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3,S18,134,2905.6,28366.91,54303.43,9346.12,37458.39,20127.17,3179.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,S24,135,13354.0,151360.48,249499.65,38208.09,207174.8,92054.12,15591.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2,S24,136,5151.58,63182.02,117928.13,16043.39,77497.06,35314.99,5318.48,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,3,S24,137,7229.85,79500.38,135963.87,23683.69,93596.55,41089.87,6605.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2,S29,139,6679.99,65295.37,113596.69,19715.97,77881.74,38951.27,4971.48,...,0.0,0.0,0.0,0.0,3.33,0.0,0.0,0.0,0.0,0.0
12,3,S29,140,6027.67,58051.33,98132.31,16834.69,70012.32,35047.92,5745.51,...,0.0,0.0,0.0,20.0,4.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df.iloc[12,0] = 3

In [72]:
df.to_csv('H2O_KEGG_paths_merged.csv', index=False)

Bash steps 

copy samples to different dir 
mkdir gut 
cp Gut_S* -r ./gut

mkdir gut_csv_no_head



use this loop to convert tsv to csv and change filename into filename containing pond  

for i in sed_tsv/*.tsv ; do
dir=$(echo $i | cut -d'/' -f2)
filename="$dir-feature_table.csv"
echo $dir
echo $filename
tail -n +3 $i | sed 's/\t/,/g' > h2o_csv_no_head/$filename 
done

open those files

In [2]:
# specifying directory containing files 
directory_path="H2O_KO_unmerged/"

file_pattern = '*.tsv'
file_paths = glob.glob(directory_path + file_pattern)

print(file_paths)

['H2O_KO_unmerged\\S08_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S09_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S10_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S11_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S12_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S13_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S14_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S15_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S16_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S17_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S18_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S19_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S20_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S21_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S22_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S23_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S24_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S25_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S26_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S27_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S28_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S29_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S30_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S31_pred_metagenome_unstrat.tsv', 'H2O_KO_unmerged\\S32_pred_metagenome_unstrat.tsv']

In [16]:
def pond_ex(path):
    l=path.split('\\')
    fn=l[-1]
    fn_l = fn.split('_')
    
    fn=fn_l[0]
    return fn
pond_ex('H2O_KO_unmerged\\S08_pred_metagenome_unstrat.tsv')

'S08'

In [10]:
df_test = pd.read_csv(file_paths[0], sep='\t')

In [11]:
df_test.transpose()

,0,1,2,3,4,5,6,7,8,9,...,5007,5008,5009,5010,5011,5012,5013,5014,5015,5016
function,K00001,K00002,K00003,K00004,K00005,K00007,K00008,K00009,K00010,K00012,...,K19714,K19715,K19731,K19736,K19745,K19746,K19777,K19778,K19784,K19789
S8.127.H2O,1817.16,0.0,6479.67,196.5,623.33,474.75,693.0,47.33,601.0,7215.08,...,461.0,461.0,0.0,35.75,1754.67,341.25,184.5,30.0,704.17,0.0
S8.128.H2O,1630.66,155.0,6335.55,201.0,316.0,610.25,920.38,147.0,730.38,7309.92,...,262.0,262.0,0.0,19.25,2863.67,183.75,201.0,0.0,347.17,14.0
S8.126.H2O,831.5,0.0,4910.33,44.0,289.0,819.5,233.0,21.0,112.0,5100.33,...,291.0,291.0,10.0,58.5,2119.0,290.0,29.0,0.0,431.5,0.0

In [17]:
#creating initial dataframe 
result_df=pd.read_csv(file_paths[0],header=None,sep='\t')
result_df=result_df.T
colnames=result_df.iloc[0]
result_df.columns = colnames
result_df = result_df.drop(result_df.index[0])
sample_id = result_df['function'].str.split('.',expand=True)[1]
result_df.insert(0,'pond',pond_ex(file_paths[0]))
result_df.insert(1,'sample_id',sample_id)



result_df.head()

,pond,sample_id,function,K00001,K00002,K00003,K00004,K00005,K00007,K00008,...,K19714,K19715,K19731,K19736,K19745,K19746,K19777,K19778,K19784,K19789
1,S08,127,S8.127.H2O,1817.1599999999999,0.0,6479.67,196.5,623.3299999999999,474.75,693.0,...,461.0,461.0,0.0,35.75,1754.67,341.25,184.5,30.0,704.1700000000001,0.0
2,S08,128,S8.128.H2O,1630.6599999999999,155.0,6335.55,201.0,316.0,610.25,920.38,...,262.0,262.0,0.0,19.25,2863.67,183.75,201.0,0.0,347.17,14.0
3,S08,126,S8.126.H2O,831.5,0.0,4910.33,44.0,289.0,819.5,233.0,...,291.0,291.0,10.0,58.5,2119.0,290.0,29.0,0.0,431.5,0.0

In [18]:
# Iterate over the file paths and read each CSV file

for file_path in file_paths[1:2]:
    
    df = pd.read_csv(file_path,header=None,sep='\t')
    df=df.T
    
    colnames=df.iloc[0]
    df.columns = colnames
    df = df.drop(df.index[0])
    df.insert(0,'pond',pond_ex(file_path))
    sample_id = result_df['function'].str.split('.',expand=True)[1]
    result_df['sample_id'] = sample_id

    result_df = pd.merge(result_df, df, how='outer')
    print("Merging",file_path)


print(result_df.shape)

result_df.head(100)

Merging H2O_KO_unmerged\S09_pred_metagenome_unstrat.tsv
(6, 5522)

,pond,sample_id,function,K00001,K00002,K00003,K00004,K00005,K00007,K00008,...,K19505,K19507,K19519,K19546,K19547,K19550,K19560,K19686,K19687,K19701
0,S08,126,S8.126.H2O,831.5,0.0,4910.33,44.0,289.0,819.5,233.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S08,127,S8.127.H2O,1817.1599999999999,0.0,6479.67,196.5,623.3299999999999,474.75,693.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S08,128,S8.128.H2O,1630.6599999999999,155.0,6335.55,201.0,316.0,610.25,920.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,S09,NaN,S9.171.H2O,5038.91,179.27,5943.049999999999,318.75,761.74,112.0,2238.71,...,0.27,342.0,179.0,0.0,0.0,0.0,205.0,547.0,547.0,0.0
4,S09,NaN,S9.172.H2O,6670.950000000001,6.0,7921.43,841.25,162.51,459.0,3147.0,...,0.0,43.0,6.0,0.0,0.0,0.0,77.5,130.5,120.5,0.0
5,S09,NaN,S9.173.H2O,1744.5700000000002,6.4,2156.65,320.75,652.46,188.0,675.2,...,0.4,4.0,6.0,75.0,75.0,75.0,0.0,4.0,4.0,11.0

In [98]:
result_df.shape

(73, 190)

In [99]:
result_df['pond'].value_counts()

pond
S8     3
S30    3
S31    3
S25    3
S22    3
S15    3
S11    3
S27    3
S20    3
S17    3
S13    3
S32    3
S28    3
S14    3
S21    3
S10    3
S26    3
S23    3
S19    3
S16    3
S12    3
S24    3
S9     3
S29    2
S18    2
Name: count, dtype: int64

In [100]:
result_df = result_df.sort_values(by='sample_id')
result_df.head()

,pond,sample_id,ID,timepoint,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Chitinophagaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Flavobacteriales;f__Flavobacteriaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__uncultured;f__uncultured,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Planctomycetota;c__Planctomycetes;o__Isosphaerales;f__Isosphaeraceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__Verrucomicrobiales;f__Rubritaleaceae,...,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Actinobacteriota;c__Actinobacteria;o__Propionibacteriales;f__Nocardioidaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Negativicutes;o__Veillonellales-Selenomonadales;__,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Sandaracinaceae
0,S8,126,S8.126.H2O.S8,1,517.0,85.0,563.0,1030.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,S8,127,S8.127.H2O.S8,2,534.0,318.0,423.0,783.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,S8,128,S8.128.H2O.S8,3,200.0,175.0,24.0,725.0,10.0,219.0,...,19.0,16.0,31.0,38.0,14.0,12.0,10.0,NaN,NaN,NaN
3,S14,129,S14.129.H2O.S14,1,688.0,13.0,168.0,1696.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,S14,130,S14.130.H2O.S14,2,479.0,208.0,222.0,755.0,8.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
result_df.iloc[70:73]

,pond,sample_id,ID,timepoint,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Chitinophagaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Flavobacteriales;f__Flavobacteriaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__uncultured;f__uncultured,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Planctomycetota;c__Planctomycetes;o__Isosphaerales;f__Isosphaeraceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__Verrucomicrobiales;f__Rubritaleaceae,...,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Actinobacteriota;c__Actinobacteria;o__Propionibacteriales;f__Nocardioidaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Negativicutes;o__Veillonellales-Selenomonadales;__,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Sandaracinaceae
70,S9,171,S9.171.H2O.S9,2,652.0,121.0,164.0,611.0,1.0,234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,38.0,13.0
71,S9,172,S9.172.H2O.S9,3,296.0,384.0,103.0,1162.0,22.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
72,S9,173,S9.173.H2O.S9,1,120.0,333.0,37.0,402.0,180.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [122]:
result_df.shape[0]

73

In [129]:

# adding timepoint
ponds = result_df['pond'].unique()

for pond in ponds:
    tmp_df = result_df[result_df['pond'] == pond].copy()  # Make an explicit copy
    tmp_df = tmp_df.sort_values(by='sample_id')  # Ensure sorting is assigned back
    tmp_df['timepoint'] = np.arange(1, (tmp_df.shape[0] + 1), 1)
    result_df.loc[result_df['pond'] == pond, 'timepoint'] = tmp_df['timepoint']

In [139]:
result_df.iloc[4:16]

,pond,sample_id,ID,timepoint,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Chitinophagaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Flavobacteriales;f__Flavobacteriaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__uncultured;f__uncultured,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Planctomycetota;c__Planctomycetes;o__Isosphaerales;f__Isosphaeraceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__Verrucomicrobiales;f__Rubritaleaceae,...,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Actinobacteriota;c__Actinobacteria;o__Propionibacteriales;f__Nocardioidaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Negativicutes;o__Veillonellales-Selenomonadales;__,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Sandaracinaceae
4,S14,130,S14.130.H2O.S14,2,479.0,208.0,222.0,755.0,8.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,S14,131,S14.131.H2O.S14,3,568.0,3387.0,241.0,2996.0,241.0,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,S18,133,S18.133.H2O.S18,2,375.0,25.0,39.0,772.0,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,S18,134,S18.134.H2O.S18,3,115.0,224.0,64.0,313.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,S24,135,S24.135.H2O.S24,1,828.0,3347.0,1667.0,1232.0,663.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,S24,136,S24.136.H2O.S24,2,369.0,413.0,76.0,577.0,53.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,S24,137,S24.137.H2O.S24,3,41.0,238.0,41.0,1142.0,9.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,S29,139,S29.139.H2O.S29,2,184.0,270.0,141.0,1159.0,63.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,S29,140,S29.140.H2O.S29,3,129.0,445.0,26.0,1420.0,377.0,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,S12,141,S12.141.H2O.S12,1,297.0,7.0,275.0,496.0,16.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,S12,142,S12.142.H2O.S12,2,499.0,62.0,54.0,513.0,44.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,S12,143,S12.143.H2O.S12,3,188.0,31.0,21.0,223.0,223.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
result_df.to_csv('h20_bacteria_merged.csv',index=False)

In [85]:
timepoint = np.tile([1, 2, 3 ], 25)

timepoint = timepoint [0:73]
print(timepoint)

[1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1
 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1]

In [86]:
result_df.insert(3, 'timepoint',timepoint)

C:\Users\marek\AppData\Local\Temp\ipykernel_8108\2376994448.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  result_df.insert(3, 'timepoint',timepoint)

In [95]:
result_df.reset_index(drop=True, inplace=True)

In [102]:
result_df[result_df['pond']=='S9']

,pond,sample_id,ID,timepoint,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Chitinophagaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Flavobacteriales;f__Flavobacteriaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__uncultured;f__uncultured,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Planctomycetota;c__Planctomycetes;o__Isosphaerales;f__Isosphaeraceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__Verrucomicrobiales;f__Rubritaleaceae,...,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Actinobacteriota;c__Actinobacteria;o__Propionibacteriales;f__Nocardioidaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Negativicutes;o__Veillonellales-Selenomonadales;__,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Sandaracinaceae
70,S9,NaN,S9.171.H2O.S9,2,652.0,121.0,164.0,611.0,1.0,234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,38.0,13.0
71,S9,NaN,S9.172.H2O.S9,3,296.0,384.0,103.0,1162.0,22.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
72,S9,NaN,S9.173.H2O.S9,1,120.0,333.0,37.0,402.0,180.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [97]:
result_df.iloc[5:10]

,pond,sample_id,ID,timepoint,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Chitinophagaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Flavobacteriales;f__Flavobacteriaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__uncultured;f__uncultured,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Planctomycetota;c__Planctomycetes;o__Isosphaerales;f__Isosphaeraceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__Verrucomicrobiales;f__Rubritaleaceae,...,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Actinobacteriota;c__Actinobacteria;o__Propionibacteriales;f__Nocardioidaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Bacteroidales;f__Bacteroidaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Negativicutes;o__Veillonellales-Selenomonadales;__,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Sandaracinaceae
5,S14,131,S14.131.H2O.S14,3,568.0,3387.0,241.0,2996.0,241.0,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,S18,133,S18.133.H2O.S18,1,375.0,25.0,39.0,772.0,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,S18,134,S18.134.H2O.S18,2,115.0,224.0,64.0,313.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,S24,135,S24.135.H2O.S24,3,828.0,3347.0,1667.0,1232.0,663.0,156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,S24,136,S24.136.H2O.S24,1,369.0,413.0,76.0,577.0,53.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
result_df.loc[result_df['pond'] == 'S9', 'sample_id'] = pd.Series([231, 232])

In [64]:
result_df.to_csv('sed_bacteria_merged.csv', index=False)

In [236]:
#merging into one big table 
sed = pd.read_csv('sed_full_feature_table.csv')
gut = pd.read_csv('gut_full_feature_table.csv')
h2o = pd.read_csv('h2o_full_feature_table.csv')

In [242]:
all = sed
all=all.merge(gut,how='outer')
all=all.merge(h2o,how='outer')

In [243]:
print(all.shape)
all.head(100)

(247, 336)

,pond,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Sutterellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Rhodocyclaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Sphingobacteriales;f__Lentimicrobiaceae,d__Bacteria;p__Desulfobacterota;c__Desulfobulbia;o__Desulfobulbales;f__Desulfobulbaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Saprospiraceae,d__Bacteria;p__Firmicutes;c__Bacilli;o__Bacillales;f__Bacillaceae,d__Bacteria;p__Actinobacteriota;c__Thermoleophilia;o__Solirubrobacterales;f__67-14,d__Bacteria;p__Cyanobacteria;c__Cyanobacteriia;o__Cyanobacteriales;f__Phormidiaceae,...,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Cytophagales;f__Cytophagaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__UA11;f__UA11,d__Bacteria;p__Proteobacteria;c__Alphaproteobacteria;o__Reyranellales;f__Reyranellaceae,d__Bacteria;p__Proteobacteria;c__Alphaproteobacteria;o__Rickettsiales;f__Fokiniaceae,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria
0,Sed_S10,111.0,128.0,122.0,101.0,84.0,44.0,42.0,52.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sed_S10,18.0,150.0,10.0,129.0,0.0,0.0,30.0,32.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sed_S11,81.0,21.0,29.0,90.0,NaN,8.0,10.0,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sed_S11,3.0,13.0,18.0,3.0,NaN,3.0,18.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sed_S12,171.0,67.0,109.0,76.0,23.0,31.0,NaN,1.0,352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
all.to_csv('all_feature_table.csv', index=False)