In [1]:
import numpy as np 
import pandas as pd 
import glob

Bash steps 

copy samples to different dir 
mkdir gut 
cp Gut_S* -r ./gut

mkdir gut_csv_no_head



use this loop to convert tsv to csv and change filename into filename containing pond  

for i in h2o/*/*.tsv ; do
dir=$(echo $i | cut -d'/' -f2)
filename="$dir-feature_table.csv"
echo $dir
echo $filename
tail -n +3 $i | sed 's/\t/,/g' > h2o_csv_no_head/$filename 
done

open those files 


Not neccesary steps : 
gather all bacteria from all the files 

for i in ./*.csv; do awk -F',' '{print $1}' "$i" >> bacteria.txt; done

extract unique values later used as collumns 

sort bacteria.txt | uniq > uniq_bacteria.txt

In [31]:
df = pd.read_csv("KO-KEGG\merged_output_withNA.tsv",sep = "\t",header = None)

In [33]:
df.T.head(10)

,0,1,2,3,4,5,6,7,8,9,...,213,214,215,216,217,218,219,220,221,222
0,KEGG,ko05340,ko00564,ko00680,ko00562,ko03030,ko00561,ko00440,ko00250,ko00740,...,ko00965,ko05131,ko04144,ko00062,ko00901,ko00909,ko00905,ko04666,ko04640,ko04912
1,S8.4.Gut,14007.5,110302.94,147043.18,25747.52,104327.96,66866.22,12596.34,163718.66,35518.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S8.5.Gut,13825.5,108900.72,143767.09,25335.01,116469.23,70930.86,13047.17,167884.58,30465.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,S8.2.Gut,17289.25,132540.22,171467.59,31054.76,122604.23,80670.61,15949.92,192464.33,41607.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,S8.3.Gut,18899.98,146341.42,186875.44,33138.62,145016.35,93333.18,17887.64,217143.64,43221.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,S9.80.Gut,14551.12,108833.22,147673.38,25295,87931.76,67850.92,10197.24,153852.12,39231.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,S9.79.Gut,24694.26,317690.57,475857.94,84050.43,207165.97,246377.8,38931.76,354747.35,102727.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,S9.77.Gut,29840.9,420163.9,628127.71,111753.62,246996.36,333437.7,53686.57,433752.44,128555.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,S9.78.Gut,47345.97,704990.94,1054065.59,187251.38,405392.9,563551,93101.94,710363.04,213303.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,S9.76.Gut,31659.48,439895.35,660205.95,116248.22,265322,340715.41,56747.45,464482.38,135993.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df2 = pd.read_csv("KO-KEGG\S08_pred_metagenome_unstrat.tsv",sep = "\t")

In [6]:
df2.head()

  function  S8.4.Gut  S8.5.Gut  S8.2.Gut  S8.3.Gut
0   K00001    121.00     70.00    155.00    214.66
1   K00003   2010.84   3880.67   2125.67   3895.16
2   K00004    221.00     64.00     72.00     57.00
3   K00005   4104.50   3758.50   5275.00   5396.57
4   K00009   5246.00   6821.00   6638.75   8367.66

In [29]:
# specifying directory containing files 
directory_path="KO-KEGG\ortologs\\"

file_pattern = '*.tsv'
file_paths = glob.glob(directory_path + file_pattern)

print(file_paths)

['KO-KEGG\\ortologs\\S08_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S09_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S10_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S11_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S12_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S13_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S14_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S15_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S16_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S17_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S18_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S19_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S20_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S21_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S22_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S23_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S24_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S25_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S26_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S27_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S28_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S29_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S30_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S31_pred_metagenome_unstrat.tsv', 'KO-KEGG\\ortologs\\S32_pred_metagenome_unstrat.tsv']

In [26]:
def pond_ex(path):
    l=path.split('\\')
    fn=l[-1]
    fn=fn.replace('_pred_metagenome_unstrat.tsv','')
    return fn
pond_ex('KO-KEGG\\ortologs\\S08_pred_metagenome_unstrat.tsv')

'S08'

In [27]:
#creating initial dataframe 
result_df=pd.read_csv(file_paths[0],sep="\t",header=None)
result_df=result_df.T
colnames=result_df.iloc[0]
result_df.columns = colnames
result_df = result_df.drop(result_df.index[0])

result_df.insert(0,'pond',pond_ex(file_paths[0]))
#result_df = result_df.drop(["function"],axis = 1)
result_df.head()

,pond,function,K00001,K00003,K00004,K00005,K00009,K00010,K00012,K00013,...,K19659,K19661,K19666,K19689,K19694,K19713,K19736,K19745,K19784,K19789
1,S08,S8.4.Gut,121.0,2010.8400000000001,221.0,4104.5,5246.0,183.0,7449.84,6168.84,...,3107.0,139.34,83.0,399.0,3145.0,140.84,0.0,4514.84,153.34,4374.0
2,S08,S8.5.Gut,70.0,3880.67,64.0,3758.5,6821.0,1.0,10281.67,6992.67,...,2864.5,8.67,2.5,371.0,3170.5,14.17,0.0,3503.17,12.67,3489.0
3,S08,S8.2.Gut,155.0,2125.67,72.0,5275.0,6638.75,123.0,9043.42,7181.42,...,4307.75,19.67,150.25,347.0,4434.75,26.67,87.0,5393.42,44.67,5366.75
4,S08,S8.3.Gut,214.65999999999997,3895.16,57.0,5396.57,8367.66,2.0,12078.82,8575.82,...,4394.0,5.66,155.41,490.5,4770.66,14.16,0.0,5188.32,24.659999999999997,5174.16

In [28]:
# Iterate over the file paths and read each CSV file

for file_path in file_paths[1:]:
    print("reading",file_path)
    df = pd.read_csv(file_path,header=None, sep ="\t")
    print("transforming")
    df=df.T
    
    colnames=df.iloc[0]
    df.columns = colnames
    df = df.drop(df.index[0])
    df.insert(0,'pond',pond_ex(file_path))
    print("merging")
    result_df = pd.merge(result_df, df, how='outer')


result_df = result_df.drop(["function"],axis = 1)
print(result_df.shape)

result_df.head(100)

reading KO-KEGG\ortologs\S09_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S10_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S11_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S12_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S13_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S14_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S15_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S16_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S17_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S18_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S19_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S20_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S21_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S22_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S23_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S24_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S25_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S26_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S27_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S28_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S29_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S30_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S31_pred_metagenome_unstrat.tsv
transforming
merging
reading KO-KEGG\ortologs\S32_pred_metagenome_unstrat.tsv
transforming
merging
(124, 6299)

,pond,K00001,K00003,K00004,K00005,K00009,K00010,K00012,K00013,K00014,...,K18364,K19075,K19088,K19090,K05988,K12292,K12293,K19273,K19299,K19429
0,S08,121.0,2010.8400000000001,221.0,4104.5,5246.0,183.0,7449.84,6168.84,6386.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S08,70.0,3880.67,64.0,3758.5,6821.0,1.0,10281.67,6992.67,7375.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,S08,155.0,2125.67,72.0,5275.0,6638.75,123.0,9043.42,7181.42,7499.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,S08,214.65999999999997,3895.16,57.0,5396.57,8367.66,2.0,12078.82,8575.82,9077.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,S09,2271.34,765.3399999999999,81.0,6644.12,4271.639999999999,172.98,5271.139999999999,5174.139999999999,5393.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S27,238.5,2765.1800000000003,116.0,1671.4099999999999,644.8199999999999,1082.76,3874.33,2817.0,4362.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,S27,320.01,3622.51,219.0,940.87,243.01999999999998,884.16,3969.02,3541.52,4504.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,S27,714.5099999999999,2802.5,266.0,1846.55,793.4,690.28,3541.9,2064.4,4050.5400000000004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,S27,4054.83,942.0,133.0,8402.88,4049.0099999999998,153.22,4994.51,4348.51,5137.549999999999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,S28,2448.8,5497.65,958.0,6454.65,2606.79,2083.7200000000003,7661.12,5548.12,9244.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
result_df.to_csv('ortologs_full_table', index=False)

In [236]:
#merging into one big table 
sed = pd.read_csv('sed_full_feature_table.csv')
gut = pd.read_csv('gut_full_feature_table.csv')
h2o = pd.read_csv('h2o_full_feature_table.csv')

In [242]:
all = sed
all=all.merge(gut,how='outer')
all=all.merge(h2o,how='outer')

In [243]:
print(all.shape)
all.head(100)

(247, 336)

,pond,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Sutterellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Comamonadaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Burkholderiales;f__Rhodocyclaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Sphingobacteriales;f__Lentimicrobiaceae,d__Bacteria;p__Desulfobacterota;c__Desulfobulbia;o__Desulfobulbales;f__Desulfobulbaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Chitinophagales;f__Saprospiraceae,d__Bacteria;p__Firmicutes;c__Bacilli;o__Bacillales;f__Bacillaceae,d__Bacteria;p__Actinobacteriota;c__Thermoleophilia;o__Solirubrobacterales;f__67-14,d__Bacteria;p__Cyanobacteria;c__Cyanobacteriia;o__Cyanobacteriales;f__Phormidiaceae,...,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__Cytophagales;f__Cytophagaceae,d__Bacteria;p__Verrucomicrobiota;c__Verrucomicrobiae;o__UA11;f__UA11,d__Bacteria;p__Proteobacteria;c__Alphaproteobacteria;o__Reyranellales;f__Reyranellaceae,d__Bacteria;p__Proteobacteria;c__Alphaproteobacteria;o__Rickettsiales;f__Fokiniaceae,d__Bacteria;p__Verrucomicrobiota;c__Kiritimatiellae;o__Kiritimatiellales;f__Kiritimatiellaceae,d__Bacteria;p__Proteobacteria;c__Gammaproteobacteria;o__Halothiobacillales;f__Halothiobacillaceae,d__Bacteria;p__Myxococcota;c__Polyangia;o__Polyangiales;f__Phaselicystidaceae,d__Bacteria;p__Firmicutes;c__Clostridia;o__Clostridia;f__Hungateiclostridiaceae,d__Bacteria;p__Patescibacteria;c__Parcubacteria;__;__,d__Bacteria;p__Patescibacteria;c__Parcubacteria;o__Parcubacteria;f__Parcubacteria
0,Sed_S10,111.0,128.0,122.0,101.0,84.0,44.0,42.0,52.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sed_S10,18.0,150.0,10.0,129.0,0.0,0.0,30.0,32.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sed_S11,81.0,21.0,29.0,90.0,NaN,8.0,10.0,NaN,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sed_S11,3.0,13.0,18.0,3.0,NaN,3.0,18.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sed_S12,171.0,67.0,109.0,76.0,23.0,31.0,NaN,1.0,352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Gut_S19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
all.to_csv('all_feature_table.csv', index=False)